body{
margin: 0px;
height: 1800px;
font-family: 'Questrial', sans-serif;
}

#mainhead{
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #000000;
color: #ffffff;
font-size: 15px;
padding: 10px;
text-align: center;
z-index: 100;
box-shadow: 0 0px 16px #000000;
}

.scroll_div{
position: fixed;
display: none;
background-color: #494949;
top: 35px;
padding: 10px;
width: 100%;
font-size: 15px;
z-index: 10;
text-align: center;
color: #ffffff;
box-shadow: 0 5px 16px #888888;

}